<div class="cover">
    <img src="/assets/Images/Cover.png" class="cover-img" alt="cover">
    <div class="rubrique-txt-accueil">
        <h1 class="titre-txt-accueil">L’offre du marché la plus adaptée au<br> portefeuille des apiculteurs</h1>
        <p class="sous-titre-accueil">  
            <br>Anticipez et réduisez vos déplacements pour intervenir<br> auprès de vos abeilles lorsque cela est vraiment<br> nécessaire.
        </p>
        <a class="bouton" href="index.html">
            Voir la boutique
        </a>
    </div>
</div>