<footer>
    <div class="contenu">
        <div class="left">
            <img class="logo" src="../assets/Images/Logo Miecolo.png" alt="">
            <p>Miecolo s’engage à optimiser et simplifier le travail des apiculteurs en le digitalisant.</p>
            <div class="réseaux">
                <img src="../assets/Images/Facebook.png" alt="">
                <img src="../assets/Images/Instagram.png" alt="">
                <img src="../assets/Images/Twitter.png" alt="">
                <img src="../assets/Images/Youtube.png" alt="">
            </div>
        </div>
        <div class="middle">
            <p>Liens rapides</p>
            <div class="elements">
                <ul>
                    <li>Acceuil</li>
                    <li>Boutique</li>
                    <li>Articles</li>
                    <li>Forum</li>
                    <li>Wiki</li>
                    <li>Contact</li>
                </ul>
                <ul class="ul2">
                    <li>Panier</li>
                    <li>Appli</li>
                </ul>
            </div>
            
        </div>
        <div class="right">
            <p>Informations de Contact</p>
            <ul>
                <li>
                    <img src="../assets/Images/Localisation Icone.png" alt="">
                    <p>Bordeaux, Aquitaine 33000 <br>
                        France</p>
                </li>
                <li>
                    <img src="../assets/Images/Mail Icone.png" alt="">
                    <p>contact@miecolo.com</p>
                </li>
                <li>
                    <img src="../assets/Images/Telephone Icon.png" alt="">
                    <p>+33 7 79 24 16 64</p>
                </li>
            </ul>
        </div>
    </div>
    
</footer>