<header>
    <div class="navbar">
        <img class= "logo" src="../assets/Images/Logo Miecolo.png" alt="">
        <div class="list">
            <ul class="pages">
                <li>Acceuil</li>
                <li>Boutique</li>
                <li>Articles</li>
                <li>Forum</li>
                <li>Wiki</li>
                <li>Contact</li>
            </ul>
            <div class="icons">
                <p>test</p>
                <p>test</p>
                <p>test</p>
            </div>
        </div>
    </div>
</header>