<header>
    <div class="navbar">
        <img class= "logo" src="../assets/Images/Logo Miecolo.png" alt="Logo miecolo">
        <div class="list">
            <ul class="pages">
                <li>Acceuil</li>
                <li>Boutique</li>
                <li>Articles</li>
                <li>Forum</li>
                <li>Wiki</li>
                <li>Contact</li>
            </ul>
            <img src="../assets/Images/Line 4.png" alt="">
            <div class="icons">
                <img src="../assets/Images/VectorBag.png" alt="">
                <img src="../assets/Images/Compte.png" alt="">
                <p>FR</p>
            </div>
        </div>
    </div>
</header>