.cover{
    display: flex;
}

.cover-img {
    width: 100%;
    height: 100vh;
}

.rubrique-txt-accueil{
    position: absolute;
    top: 345px;
    left: 118px;
}

.titre-txt-accueil{
    color: white;
    font-size: 32px;
    font-weight: 600;
    font-family: Poppins;
}

.sous-titre-accueil{
    font-size: 20px;
    line-height: 131%;
    font-style: normal;
}

.bouton{
    
}
