.cover{
    display: flex;
}

.cover-img {
    width: 100%;
    height: 100vh;
}

.rubrique-txt-accueil{
    position: absolute;
    top: 345px;
    left: 118px;
}

.titre-txt-accueil{
    color: white;
    font-size: 32px;
    font-weight: 600;
    font-family: Poppins;
}

.sous-titre-accueil{
    font-size: 20px;
    line-height: 131%;
    font-style: normal;
}

.button{
    background: linear-gradient(90deg, #FFFFFF -52.43%, #E5B906 11.09%);
    /* Jaune */
    background-color: #E5B906;    
    border: 1px solid #E5B906;
    border-radius: 30px;
}
